body {
    margin: 0;
}

#container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

#list {
    position: fixed;
    width: 20vw;
    height: 85vh;
    background-color: rgb(0, 0, 0);
}

#content {
    position: fixed;
    width: 80vw;
    height: 85vh;
    margin-left: 20vw;
    background-color: rgb(20, 20, 20);
}

#track {
    position: fixed;
    width: 100vw;
    height: 15vh;
    margin-top: 85vh;
    background-color: rgb(30, 30, 30);
}

#icon {
    width: 30%;
    height: 30%;
    margin-left: calc((20vw - 30%)/2);
    margin-top: -5%;
}

.list-button {
    border: 3px solid rgb(255, 255, 255);
    border-radius: .4rem;
    color: rgb(255, 255, 255);
    margin: 3% 6% 3% 6%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 13%;
    cursor: pointer;
    font-family: monospace;
    font-weight: 800;
    padding-left: 8%;
}

.list-button-img {
    width: 15%;
    height: 15%;
}

.list-button-p {
    font-size: 105%;
}

#list-button-img-home, #list-button-img-search {
    margin-left: 1%;
}

#button-track-next, #button-track-previous {
    background-color: rgb(30, 30, 30);
    border: none;
    cursor: pointer;
}

#button-track-play-pause {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(30, 30, 30);
    border-radius: 50%;
    cursor: pointer;
}