body {
    margin: 0;
}

#container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

#list {
    position: fixed;
    width: 20vw;
    height: 85vh;
    background-color: rgb(0, 0, 0);
}

#icon {
    width: 30%;
    height: 30%;
    margin-left: calc((20vw - 30%)/2);
    margin-top: -5%;
}

.list-button {
    border: 3px solid rgb(255, 255, 255);
    border-radius: .4rem;
    color: rgb(255, 255, 255);
    margin: 3% 6% 3% 6%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 13%;
    cursor: pointer;
    font-family: monospace;
    font-weight: 800;
    padding-left: 8%;
}

.list-button-img {
    width: 15%;
    height: 15%;
}

.list-button-p {
    font-size: 105%;
}

#list-button-img-home, #list-button-img-search {
    margin-left: 1%;
}

#track {
    position: fixed;
    width: 100vw;
    height: 15vh;
    margin-top: 85vh;
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    padding-left: 1%;
}

#track-img {
    width: 8vh;
    height: 8vh;
    margin-top: 3.5vh;
    margin-left: 3vh;
    margin-right: 3vh;
}

#track-data {
    width: 15vh;
    height: 15vh;
}

#track-name {
    font-family: monospace;
    font-size: 125%;
    font-weight: 600;
    margin: 35% 0 0 0;
    cursor: pointer;
}

#track-artist {
    font-family: monospace;
    font-size: 105%;
    margin: 2% 0 0 0;
    cursor: pointer;
}

#track-name:hover, #track-artist:hover {
    text-decoration: underline;
}

#track-panel {
    width: 50%;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: .75%;
    margin-left: 5%;
}

#current-time {
    font-family: monospace;
    font-size: 105%;
    margin: 0 3% 0 21%;
}

#button-track-previous {
    background-color: rgb(30, 30, 30);
    border: none;
    cursor: pointer;
    margin:  0 3% 0 0;
}

#img-button-track-previous {
    width: 115%;
    height: 115%;
}

#button-track-play-pause {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(30, 30, 30);
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    cursor: pointer;
}

#button-track-next {
    background-color: rgb(30, 30, 30);
    border: none;
    cursor: pointer;
    margin:  0 0 0 3%;
}

#img-button-track-next {
    width: 115%;
    height: 115%;
}

#track-time {
    font-family: monospace;
    font-size: 105%;
    margin: 0 21% 0 3%;
}

#track-control {
    margin-top: -5%;
    -webkit-appearance: none;
    width: 75%;
    height: 5px;
    background-color: rgb(70, 70, 70);
    outline: none;
    border: 1px solid rgb(30, 30, 30);
    border-radius: .5rem;
}

#track-control::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: rgb(241, 108, 67);
    border-radius: 50%;
    cursor: pointer;
}

#track-volume {
    -webkit-appearance: none;
    width: 10%;
    height: 5px;
    margin-left: 10%;
    margin-top: calc((15vh - 5px) / 2);
    background-color: rgb(70, 70, 70);
    outline: none;
    border: 1px solid rgb(30, 30, 30);
    border-radius: .5rem;
}

#track-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: rgb(241, 108, 67);
    border-radius: 50%;
    cursor: pointer;
}

#content {
    position: fixed;
    width: 80vw;
    height: 85vh;
    margin-left: 20vw;
    background-color: rgb(20, 20, 20);
}